*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
#nav1{
    background: #1a2434;
    padding-right: px;
    padding-left: px;
    position: relative;
    width: 100%;
    height: 33px;
}
#nav1 ul{
list-style-type: none;
display: flex;
}
.li1{font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 13px;
    border-top: 3px solid #ff1541;
    background: #49505C;
   margin-left: 5px;
}
    
.li2{
    font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 16px;
}
.li3{
    font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 16px;
}
.li4{
    font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 16px;
}
.li5{
    font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 16px;
}
.li6{
    font-size: 12px;
    line-height: 2.21429;
    display: block;
    color: #fff;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 600ms;
    border-top: 3px solid #1a2434;
    padding: 0 16px; 

}
.li1:hover{
    background: #49505C;
}
.li2:hover{
    background: #49505C;
}
.li3:hover{
    background: #49505C;
}
.li4:hover{
    background: #49505C;
}
.li5:hover{
    background: #49505C;
}
.li6:hover{
    background: #49505C;
}
a{
    text-decoration:none;
}
#nav2{
    width: 100%;
    height: 154px;
    background-color: white;
}
#icon1{
    width: 72px;
    height: 72px;
    background-image: url(../images/psg-logo.png);
    background-size: 100% 100%;
   margin: 0 auto;
   box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
   border-radius: 50%;
   position: absolute;
   margin-left: 50%;
}
body{
  font-size:16px ;
    line-height: 1.875;
    color: #151e2d;
    font-family: "Unica77-LL-TT",Helvetica,Arial,sans-serif;
    position: relative;
    background: #151e2d;
    -webkit-font-smoothing: antialiased;
}
.top-nav__wrap{
    display: flex;
    align-items: center;
}
.header__nav{
    flex: 1;
    text-align:center;
    justify-content: center;
    padding-top: 78px;
}
.top-nav__list{
    display: flex;
    list-style: none;
}
.top-nav__item{
    padding: 10px 18px 0;
}
.top-nav__link {
    font-size: 10px;
    font-size: 1rem;
    display: block;
    color: #1a2434;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all ease-out 800ms;
    padding-bottom: 1px;
    border-bottom: 2px solid #fff;
}
.top-nav__link:hover {
    outline: none;
    color: #1a2434;
    text-decoration: none;
    transition: all ease-out 300ms;
    border-color: #C8CACD;
}
.header__sidebar-toggle {
    display: block;
    -ms-flex: 0 0 25px;
    flex: 0 0 25px;
    width: 25px;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    height: 14px;
    margin-right: 40px;

}
.header__sidebar-toggle .bar {
    background: #1a2434;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    transform-origin: center center;

}
.header__sidebar-toggle .bar:first-child {
    top: 0;
}
.header__sidebar-toggle .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__sidebar-toggle .bar:nth-child(3) {
    bottom: 0;
}
.header__sidebar-toggle__close {
    font-size: 14px;
    font-size: 1.4rem;
    position: absolute;
    left: 25px;
    padding-left: 8px;
    top: -4px;
    display: none;
    opacity: .6;
    font-weight: 300;
}
.main-sidebar__inner {
    overflow: auto;
    background: #f2f2f2;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    border-top: 1px solid #E0E0E0;
    position: relative;
}
.main-sidebar__content {
    min-height: 100%;
    position: relative;
}
.main-nav__list li {
    float: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.meno{
    width: 1600px;
height: 0px;
    background-image: url(../images/nav-bg-logo-desktop.png);
    background-color: #C8CACD;
  overflow: hidden;
 transition: all 500ms ease 0s;

}

.header__sidebar-toggle .bar:first-child {
    top: 0;
    transition: all ease 500ms;
}
.header__sidebar-toggle .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    transition: all ease 300ms;
}
.header__sidebar-toggle .bar:nth-child(3) {
    bottom: 0;
    transition: all ease 500ms;
}
#limeno{
    float: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ulorginalmeno{
    width: 286px;
    height: 222px;
    border: 1px solid black;
    margin-left: 5px;
}
#ulmeno1{
    width: 286px;
    height: 222px;
    border: 1px solid black;
     margin-left: 300px;
margin-top: -180px;
}
#ulmeno2{
    width: 286px;
    height: 222px;
    border: 1px solid black;
   margin-left: 600px;
   margin-top: -225px;
}
#ulmeno3{
    width: 286px;
    height: 222px;
    border: 1px solid black;
    margin-left: 900px;
    margin-top: -224px;
}
#ulmeno4{
    width: 286px;
    height: 222px;
    border: 1px solid black;
    margin-left: 1200px;
    margin-top: -224px;
}
#ulmeno5{
    width: 286px;
    height: 222px;
    border: 1px solid black;
       margin-top: 5px;
}
#ulmeno6{
    width: 286px;
    height: 222px;
    border: 1px solid black;
margin-left: 300px;
margin-top: -220px;
}
.menoopen{
height: 526px;

}

.bar1new {
    transform: rotate(38deg);
  margin-top: 10px;
}

.bar2new {
    transform: scaleX(0);
    display: none;
}

.bar3new {
    transform: rotate(-38deg);
margin-right: 5px;
}
.iconnavorginal{
    colotransition: all 200ms ease 0s;r: red;
    display: flex;
    margin-top: -320px;

margin-left: 1450px;
overflow: hidden;
position: absolute;

}
.iconnav1{
transition: all 200ms ease 0s;
 color: black;
word-spacing: 50px;
cursor: pointer;
padding-right: 20px;
display: block;
font-size: 20px;
}
.iconnav2{

    color: black;
  margin-top: -5px;
   cursor: pointer;
   padding-right: 20px;
   display: block;
   font-size: 25px;
   }
   .iconnav3{
transition: all 200ms ease 0s;
    color: black;
   word-spacing: 50px;
   cursor: pointer;
   padding-right: 20px;
   display: block;
   font-size: 20px;

   }
   .iconnav1:hover{
    text-decoration: none;
    color: #ff1541;
   }
   .iconnav2:hover{
    text-decoration: none;
    color: #ff1541;
   }   .iconnav3:hover{
    text-decoration: none;
    color: #ff1541;
   }
   .menoglobe{
    width: 150px;
height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #242D3C;
    margin-top: 11px;

 transition: all 200ms;
    transform: scale(1) translateY(0) translateX(0);
    font-size: 13px;
    float: right;
    font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
   }
   .menoglobe1{
transition: all 300ms ease 0s;
cursor: pointer;
color: white;
   }
   .menoglobe1:hover{
    color: #ff1541;
   }
   .menoglobe2{
    transition: all 300ms ease 0s;
    cursor: pointer;
    color: red;
       }
       .menoglobe2:hover{
        color: #ff1541;
       }
       .menoglobe3{
        transition: all 300ms ease 0s;
        cursor: pointer;
        color: white;
           }
           .menoglobe3:hover{
            color: #ff1541;
           }
           .menoglobe4{
            transition: all 300ms ease 0s;
            cursor: pointer;
            color: white;
               }
               .menoglobe4:hover{
                color: #ff1541;
               }
               .menoglobe5{
                transition: all 300ms ease 0s;
                cursor: pointer;
                color: white;
                   }
                   .menoglobe5:hover{
                    color: #ff1541;
                   }
                   .menoglobe6{
                    transition: all 300ms ease 0s;
                    cursor: pointer;
                    color: white;
                       }
                       .menoglobe6:hover{
                        color: #ff1541;
                       }
                       .menoglobe7{
                        transition: all 300ms ease 0s;
                        cursor: pointer;
                        color: white;
                           }
                           .menoglobe7:hover{
                            color: #ff1541;
                           }
                           .menoglobe8{
                            transition: all 300ms ease 0s;
                            cursor: pointer;
                            color: white;
                               }
                               .menoglobe8:hover{
                                color: #ff1541;
                            }
       .menoglobenew{
        height: 370px;
       }  
       .iconenav4{
        color: red;
        display: none;
        font-size: 20px;
       } 
       .serch{
        width: 1600px;
        height: 60px;
        background-color: black;
        color: white;
        overflow: hidden;
        display: none;
       }   
       .bodynew{
        background: rgba(21,30,45,0.7);
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border: none;
        box-shadow: none;
        border-radius: 0;
        display: block;
        padding: 0;
        overflow-y: none;
    }
    .serchinput{
        margin-left: 600px;
        width: 400px;
        height: 40px;
       background: none;
        color: white;
        text-align: center;
        font-weight: 700;
    }
.diviconnav5{
    font-size: 20px;
    margin-left: 600px;
    margin-top: -35px;
}               
.newsearch{
    display: block;
}
.iconenav6{
    color: red;
margin-top: -170px;
    font-size: 20px;
   margin-left: 1410px;
position: relative;
display: none;
cursor: pointer;

}