@font-face {
    font-family: 'Noto Nastaliq Urdu';
    src: url('NotoNastaliqUrdu-Regular.woff2') format('woff2'),
        url('NotoNastaliqUrdu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

